{% extends "base.html" %}

{% block content %}

<center>
    <h1>Добро пожаловать в синтаксический анализатор!</h1>
    <h2>Импортируйте файл, чтобы начать работу.</h2>

    <br>

    <div class="col-md-4 col-sm-6">
        <form method="post" action="/analysis" enctype="multipart/form-data">
            <div class="input-group input-group-sm">
                <input type="file" class="form-control" id="file" name="file" accept=".txt,.docx,.pdf,.rtf">
                <button class="btn btn-primary" type="submit">Проанализировать</button>
            </div>
        </form>
    </div>
</center>


{% endblock %}